<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}

    <title>{{ header }}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img//favicon.png' %}"/>
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
  </head>

  <body>

    {% include "base/navbar.html" %}

    <div class="container">
		<h1> {{ header }} </h1>
		{% block page %}{% block content %}{% endblock content %}{% endblock page%}
    </div>

    {% include "base/footer.html" %}

    <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
  </body>
</html>
