{% extends "base_generic.html" %}
{% block page %}
  <div class="row">
    <div class="col-lg-8">
      {% block content %}{% endblock %}
    </div>
    <div class="col-lg-4">
      {% include "base/sidebar.html" %}
    </div>
  </div>
{% endblock page %}