{% for alert in alerts %}
  <div class="alert alert-danger">
    {{ alert }}
  </div>
{% endfor %}

<form method="POST">
  {% csrf_token %}
  {% for form_elem in form %}
    <div class="form-group row">
      <label class="col-md-3 col-form-label">{{ form_elem.label }}</label>
      <div class="col-md-9">
      {{ form_elem }}
      </div>
    </div>
  {% endfor %}
  <div class="text-center">
    <button type="submit" class="btn btn-primary">{{ button_name }}</button>
  </div>
</form>