{% load bootstrap_pagination %}
{% if page.has_other_pages %}
<nav aria-label="Pages">
    <ul class="pagination justify-content-center">
        {% bootstrap_paginate page range=5 show_first_last="true" %}
    </ul>
</nav>
{% endif %}
