{% extends "base_generic.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="card sticky-top">
              <img class="card-img-top" src="{{ MEDIA_URL }}{{ user.avatar }}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{user}}</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><label>Email</label><input readonly class="form-control-plaintext" value="{{ user.email }}"></li>
                <li class="list-group-item"><label>Дата регистрации</label><input readonly class="form-control-plaintext" value="{{ user.date_joined }}"></li>
                <li class="list-group-item"><label>Был в сети</label><input readonly class="form-control-plaintext" value="{{ user.last_login }}"></li>
              </ul>
            </div>
        </div>
        <div class="col-md-8">
            <h2>Вопросы пользователя {{ user }}</h2>
            {% for QA in page %}
                {% include "question/question_block.html" %}
            {% endfor %}
            {% include "pagination.html" %}
        </div>
    </div>
{% endblock content %}
