{% if best_members %}
  <div id="best_members_group">
    <h2>Лучшие участники</h2>
    <ol>
      {% for member in best_members %}
        <li><a href="{{ member.get_absolute_url }}">{{ member }}</a></li>
      {% endfor %}
    </ol>
  </div>
{% endif %}