{% if popular_tags %}
  <div id="popular_tags_group">
    <h2>Популярные теги</h2>
    <ul>
      {% for tag in popular_tags %}
        <li><a href="{{ tag.get_absolute_url }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endif %}