<div class="bd-footer text-muted">
  <div class="container">
    <p>Разработано <a href="https://t.me/brbrroman">@BrBrRoman</a> для прохождения программы «Системный архитектор» в проекте <a href="https://park.mail.ru">Технопарк@Mail.ru</a>.</p>
  </div>
</div>