<nav class="navbar navbar-dark bg-dark navbar-expand-xl">
  <div class="container">
    <a class="navbar-brand" href="/">ask_rvekshin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'questions_index' %}">Новые</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'questions_hot' %}">Популярные</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'questions_ask' %}">Задать вопрос</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ user.get_absolute_url }}">{{ user.username }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'questions_settings' %}">Настройки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'questions_logout' %}">Выход</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'questions_signup' %}">Регистрация</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'questions_signin' %}">Вход</a>
          </li>
        {% endif %}
      </ul>
      <form class="form-inline my-2 my-lg-0 mr-4">
        <input class="form-control mr-2" type="search" placeholder="Поиск" aria-label="Поиск">
        <button class="btn btn-outline-light my-2" type="submit">Поиск</button>
      </form>
    </div>
  </div>
</nav>
