{% extends "question/QA-block.html" %}
{% block filling %}
  <p class="card-text" align="justify">{{ QA.text }}</p>
{% endblock filling %}
{% block block_footer %}
  <div class="row">
    <div class="col-12 text-right">
      <a>{{ QA.created_at }}</a>
    </div>
  </div>
{% endblock block_footer %}
