<div class="card bg-light my-3">
  <div class="card-header">
    <div style="display: flex; justify-content: space-between;">
      <div>
        <a href="">▲</a>
        <a>{{ QA.rate }}</a>
        <a href="">▼</a>
      </div>
      <div>
        <a href="{{ QA.author.get_absolute_url }}">
          <img height="25rem" class="img rounded mx-auto" src="{{ MEDIA_URL }}{{QA.author.avatar}}">
          <span>{{ QA.author }}</span>
        </a>
      </div>
    </div>
  </div>
  <div class="card-body">
    {% block filling %}{% endblock filling %}
  </div>
  <div class="card-footer text-muted">
    {% block block_footer %}{% endblock block_footer %}
  </div>
</div>
