{% extends "question/QA-block.html" %}
{% block filling %}
  <h4 class="card-title"><a href="{{ QA.get_absolute_url }}"> {{ QA.title }}</a></h4>
  <p class="card-text" align="justify">{{ QA.text }}</p>
{% endblock filling %}
{% block block_footer %}
  <a class="text-muted" href="{{ QA.get_absolute_url }}">Количество ответов: {{ QA.answer_count }}</a>
  <div class="tags">
    {% for tag in QA.tags.all %}
      <a href="{{ tag.get_absolute_url }}"><span class="badge badge-secondary">{{ tag }}</span></a>
    {% endfor %}
  </div>
{% endblock block_footer %}
